---
import BaseLayout from "../layouts/Layout.astro";
import FirstComponent from "../components/FirstComponent.vue";
import PresentacionComponent from "../components/PresentacionComponent.vue";
import NombreComponent from "../components/NombreComponent.vue";


// Usar `getImage` para optimizar la imagen

const description = "Estudiante de Ingeniería en Sistemas Computacionales con habilidades en matemáticas y algoritmos, y experiencia en desarrollo de software y administración de bases de datos. Competente en trabajo en equipo y proyectos multidisciplinarios. Apasionado por los desafíos tecnológicos, busco contribuir en proyectos innovadores y de alto impacto.";
---

<BaseLayout title="Página de Inicio">
  <div class="flex">
    <PresentacionComponent
    client:load
    />
    <NombreComponent />

  </div>
 
  

</BaseLayout>
